{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="bg-gradient-to-b from-slate-950 to-gray-900 h-screen">
    
    </main>
{% endblock %}
